services:
  mongo:
    image: mirror.gcr.io/library/mongo:8
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin_user 
      MONGO_INITDB_ROOT_PASSWORD: web3
    ports:
      - "27017:27017"
    networks:
      - mongo-network

  calculadora:
    image: ghcr.io/yorli-gf/yg_web3:latest
    pull_policy: always
    ports:
      - "8089:8000"
    networks:
      - mongo-network
  
  frontend:
    image: ghcr.io/yorli-gf/yg_web3-frontend:v1.0.0
    pull_policy: always
    ports:
    - "3000:3000"
    volumes:
    - ./frontend:/app
    - /app/node_modules
    environment:
    - CHOKIDAR_USEPOLLING=true
    depends_on:
    - calculadora
    networks:
    - mongo-network


networks:
  mongo-network:
    driver: bridge